@charset "UTF-8";


* { margin: 0; padding: 0; outline: none; }
body { padding: 50px; border-top: solid 1px #fff; background: #fff url(../images/pattern-wavy-grad.png) 0 0 repeat-x; color: #000; font: 14px/normal Tahoma, Arial, Helvetica, sans-serif; }
p { margin-bottom: 1em; }
body > p, .container > p { margin-bottom: 0; }
h1,h2,h3 { margin-bottom: .5em; font-family: Arial, Helvetica, sans-serif; line-height: normal; }
h1 { margin-bottom: .5em; padding-bottom: 4px; border-bottom: solid 1px #d9d9d9; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 180%; text-indent: 5px; letter-spacing: -1px; }
cite { float: right; }
fieldset { border: none; }
ul.classic { list-style: disc; margin-bottom: 1em; padding-left: 2em; }
div.section { clear: both; padding-top: 50px; }
.dropdown-upward { margin-top: 400px !important; }
.main-site { position: relative; float: right; margin-top: -17px; padding: 15px 45px 15px 0; background: url(../images/arrow1-rightwards-black.png) 100% 50% no-repeat; }
.main-site, .main-site:link, .main-site:visited { color: #000; text-decoration: none; }
.main-site { font-size: 17px; }


/* -- Google Ads -- */

.g-ads { clear: both; overflow: hidden; }
.g-ads-468x15 { width: 100%; height: 15px; margin-top: 2em; padding: 6px 3px; background: #fff; }
.g-ads-234x60 { height: 60px; margin: 1em 0; }
.g-ads-728x90 { width: 728px; height: 90px; margin: 0 auto 1em; }


/* -- Customize themes -- */

body.vimeo-com { border-top: none; background: #86c9ef url(../images/vimeo.com/sun.png) 0 0 no-repeat; color: #000; }
body.vimeo-com h1 { border-bottom-color: #fff; }
body.nvidia-com { border-top: none; background: #4c4c4c url(../images/nvidia.com/grad1.png) 0 0 repeat-x; color: #d9d9d9; }
body.nvidia-com #flash { clear: both; }
body.nvidia-com #flash-wrapper { clear: both; width: 860px; height: 519px; margin: 0 auto; }
body.mtv-com { border-top: none; background: #4c4c4c url(../images/mtv.com/grad1.png) 0 0 repeat-x; color: #d9d9d9; }
body.lwis-celebrity { background: #fff url(../images/pattern-wavy-grad.png) 0 0 repeat-x; }
body.flickr-com { border-top: none; background: #fff url(../images/pattern-wavy-grad.png) 0 0 repeat-x; }
body.flickr-com .main-site { margin-top: -10px; }
body.adobe-com { border-top: none; background: #4c4c4c url(../images/adobe.com/grad1.png) 0 0 repeat-x; color: #d9d9d9; }
body.adobe-com .main-site { margin-top: -2px; }
body.adobe-com .main-site, body.nvidia-com .main-site, body.mtv-com .main-site { background-image: url(../images/arrow1-rightwards-white.png); }
body.adobe-com .main-site, body.adobe-com .main-site:link, body.adobe-com .main-site:visited,
body.nvidia-com .main-site, body.nvidia-com .main-site:link, body.nvidia-com .main-site:visited,
body.mtv-com .main-site, body.mtv-com .main-site:link, body.mtv-com .main-site:visited { color: #fff; }
