<!-- SM2 BAREBONES TEMPLATE: START -->
<script type="text/javascript">
function loadScript(sURL, onLoad) {

    function loadScriptHandler() {
    var rs = this.readyState;
        if (rs == 'loaded' || rs == 'complete') {
            this.onreadystatechange = null;
            this.onload = null;
            if (onLoad) {
                onLoad();
            }
        }
    }

    function scriptOnload() {
        this.onreadystatechange = null;
        this.onload = null;
        window.setTimeout(onLoad,20);
    }
    var oS = document.createElement('script');
    oS.type = 'text/javascript';
    if (onLoad) {
        oS.onreadystatechange = loadScriptHandler;
        oS.onload = scriptOnload;
    }
    oS.src = sURL;
    document.getElementsByTagName('head')[0].appendChild(oS);
}

function msg(s) {
  document.getElementById('sm2-status').innerHTML = s;
}

window.onload = function() {
  msg('Window loaded, waiting 1 second...');
  setTimeout(function() {
    msg('Loading soundmanager2.js...');
    loadScript('../../script/soundmanager2.js', function() {

      // SM2 script has loaded
      soundManager.url = '../../swf/';
      soundManager.onready(function() {
        soundManager.createSound({
          id:'foo',
          url:'../_mp3/mouseover.mp3'
        }).play();
        msg('started OK');
      });

      soundManager.ontimeout(function() {
        msg('Loaded OK, but unable to start: unsupported/flash blocked, etc.');
      });

      soundManager.beginDelayedInit(); // ensure start-up in case document.readyState and/or DOMContentLoaded are unavailable
    });
  },1000);
}
</script>


<body style="height:100%">
    <div style="margin-right:43em">
        <p>SoundManager 2 status: <b id="sm2-status">Waiting for window.onload()...</b></p>
    </div>
</body>
