<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="author" content="Service Star" />
<meta name="copyright" content="All Rights are reserved to Service Star." />
<meta name="description" content="Service Star is a company registered under the Laws of Republic of Brazil." />
<title></title>
<link rel="stylesheet" href="assets/css/master.css" />
<noscript>
    <link rel="stylesheet" href="assets/css/mobile.min.css" />
</noscript>
<script>
// Edit to suit your needs.
var ADAPT_CONFIG = {
  // Where is your CSS?
  path: 'assets/css/',

  // false = Only run once, when page first loads.
  // true = Change on window resize and page tilt.
  dynamic: true,

  // First range entry is the minimum.
  // Last range entry is the maximum.
  // Separate ranges by "to" keyword.
  range: [
    '0px    to 760px  = mobile.min.css',
    '760px  to 980px  = 720.min.css',
    '980px  to 1280px = 960.min.css',
    '1280px to 1600px = 1200.min.css',
    '1600px to 1940px = 1560.min.css',
    '1940px to 2540px = 1920.min.css',
    '2540px           = 2520.min.css'
  ]
};
</script>
<script src="assets/js/adapt.min.js"></script>
</head>


<body>

<h1>
  Service Star
</h1>

<div class="container_12">

  <div class="grid_12">
    <h2>
      Exemplo 1 coluna 12x
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, est laborum."
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, est laborum."    
    </p>
  </div>


  <hr class="grid_12">


  <div class="grid_7">
    <h2>
      Exemplo 2 colunas 7x 5x
    </h2>
    <pre>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, est laborum."
    </pre>
  </div>

  <div class="grid_5">
    <h2>
      &nbsp;
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, est laborum."    </p>
    </p>
  </div>

  <hr class="grid_12" />


  <div class="grid_4">
    <h4>
      Exemplo 3 colunas 4x 4x 4x
    </h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, est laborum."    </p>
    </p>
  </div>
  <div class="grid_4 push_4">
    <h4>
      &nbsp;
    </h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, est laborum."    </p>
    </p>
  </div>
  <div class="grid_4 pull_4">
    <h4>
      &nbsp;
    </h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, est laborum."    </p>
    </p>
  </div>
  <hr class="grid_12" />
  <div class="grid_3">
    <p>
      <small>
        &copy; Service Star - All rights reserved.
      </small>
    </p>
  </div>
  <div class="grid_6 align_center">
    <p>
      <small>
        Powered by <a href="#">Service Star</a>
        &nbsp;
        |
        &nbsp;
        Dados do rodapé. 
      </small>
    </p>
  </div>
  <div class="grid_3 align_right">
    <p>
      <small>
        <a href="#"> Termos de Uso</a> | <a href="#"> Politica Service Star </a>
      </small>
    </p>
  </div>
</div>
</body>
</html>
