<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <link href="../bootstrap.css" rel="stylesheet">
</HEAD>

<BODY TEXT="#000000">
<TABLE FRAME=VOID CELLSPACING=0 COLS=9 RULES=NONE BORDER=0 class="condensed-table">
	<COLGROUP><COL WIDTH=36><COL WIDTH=57><COL WIDTH=38><COL WIDTH=159><COL WIDTH=75><COL WIDTH=86><COL WIDTH=92><COL WIDTH=96><COL WIDTH=90></COLGROUP>
	<TBODY>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-left: 1px solid #181615" WIDTH=36 HEIGHT=17 ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615" WIDTH=57 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615" WIDTH=38 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615" WIDTH=159 ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615" WIDTH=75 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615" WIDTH=86 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615" WIDTH=92 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615" WIDTH=96 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615; border-right: 1px solid #181615" WIDTH=90 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
		</TR>
		<TR>
			<TD STYLE="border-left: 1px solid #181615" HEIGHT=20 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"> #LOGOTIPO# </FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD COLSPAN=2 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana" SIZE=3>FICHA TÉCNICA</FONT></B></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
		</TR>
		<TR>
			<TD STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=18 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
		</TR>
		<TR>
			<TD COLSPAN=6 STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=18 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">PRATO:  </FONT></B> #PRATO# </TD>
			<TD COLSPAN=2 STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">PORÇÃO:  </FONT></B> #PESO_FINAL# </TD>
			<TD STYLE="border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">GRAMAS</FONT></B></TD>
		</TR>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" HEIGHT=18 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">#ID</FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana">QUANT. USADO</FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana">UNIDADE</FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana">INGREDIENTES</FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana">MARCA</FONT></B></TD>
			<TD COLSPAN=2 STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">DATA:</FONT></B> #DATA# </TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">DATA:</FONT></B>  </TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
		</TR>
		<TR>
			<TD STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" HEIGHT=18 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana"><BR></FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana">PREÇO UNIDADE</FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana">VALOR USADO</FONT></B></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana">PREÇO UNIDADE</FONT></B></TD>
			<TD STYLE="border-bottom: 1px solid #181615; border-left: 1px solid #181615; border-right: 1px solid #181615" ALIGN=CENTER VALIGN=MIDDLE><B><FONT FACE="Verdana">VALOR USADO</FONT></B></TD>
		</TR>


		<!-- ingredients -->
		<div>#TR#</div>
		<!-- ingredients -->
		

		
		<TR>
			<TD COLSPAN=9 STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=18 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">PREÇO DE CUSTO DO PRATO:  </FONT></B> #PRECOCUSTO# </TD>
		</TR>
		<TR>
			<TD COLSPAN=9 STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=18 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">CUSTO FIXO _______ %</FONT></B></TD>
		</TR>
		<TR>
			<TD COLSPAN=9 STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=18 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">PREÇO FINAL DE VENDA:  </FONT></B> #PRECOVENDA# </TD>
		</TR>
		<TR>
			<TD COLSPAN=9 STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana">MODO DE PREPARO: </FONT></B></TD>
		</TR>
		<TR>
			<TD STYLE="border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><BR></FONT></TD>
		</TR>
		<TR>
			<TD STYLE="border-left: 1px solid #181615" HEIGHT=24 ALIGN=LEFT><BR></TD>
			<TD ALIGN=LEFT><BR></TD>
			<TD ALIGN=LEFT><BR></TD>
			<TD ALIGN=LEFT><BR></TD>
			<TD ALIGN=LEFT><BR></TD>
			<TD ALIGN=LEFT><BR></TD>
			<TD ALIGN=LEFT><BR></TD>
			<TD ALIGN=LEFT><BR></TD>
			<TD STYLE="border-right: 1px solid #181615" ALIGN=LEFT><BR></TD>
		</TR>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=24 ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615" ALIGN=LEFT><BR></TD>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-right: 1px solid #181615" ALIGN=LEFT><BR></TD>
		</TR>
	</TBODY>
</TABLE>
<!-- ************************************************************************** -->
</BODY>
</HTML>