<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <link href="../bootstrap.css" rel="stylesheet">
</HEAD>


<BODY TEXT="#000000">
<TABLE CELLSPACING=0 BORDER=0 class="condensed-table" width="100%">
	<TBODY>
		<TR>
			<TD STYLE="border-top: 1px solid #181615; border-bottom: 1px solid #181615; border-left: 1px solid #181615" HEIGHT=17 ALIGN=LEFT VALIGN=MIDDLE><B><FONT FACE="Verdana"><h2> # #RECIPE_ID# - #RECIPE_TITLE# </h2></FONT></B></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>INGREDIENTS</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_INGREDIENTS#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>MARINADE</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_FOR_MARINADE#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>FOR PASTE</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_FOR_PASTE#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>FOR SAUCE</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_FOR_SAUCE#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>FOR STIRFRY</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_FOR_STIRFRY#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>FOR STEAM</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_FOR_STEAM#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>FOR WRAPPING</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_FOR_WRAPPING#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>SEASONING</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_SEASONING#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>DRESSING</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_DRESSING#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>GARNISHING</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_GARNISHING#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>ACCOMPANIMENT</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_ACCOMPANIMENT#</FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><h3>METHOD</h3></FONT></TD>
		</TR>
		<TR>
			<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana">#RECIPE_METHOD#</FONT></TD>
		</TR>
	</TBODY>
</TABLE>

<TABLE WIDTH="100%">
	<TR>
		<TD colspan=2 VALIGN=MIDDLE><hr /></TD>
	</TR>
	<TR>
		<TD ALIGN=LEFT VALIGN=MIDDLE><FONT FACE="Verdana"><b>#RECIPE_AUTHOR#'s recipe.</b></FONT></TD>
		<TD ALIGN=RIGHT><FONT FACE="Verdana"><b>contact: #RECIPE_CONTACT#</b></FONT></TD>
	</TR>
</TABLE>
<!-- ************************************************************************** -->
</BODY>
</HTML>
